*:not(a) {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body {
    margin: 0;
}

body {
    padding: 18px;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
}

.theme {
    transition: background 300ms, color 300ms;
}

.theme_day {
    background-color: #ffffff;

    color: #333333;
}

.theme_night {
    background-color: #242f3e;

    color: #e8ecee;
}

.themeSwitch {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;

    height: 78px;

    line-height: 78px;
    font-size: 17px;
    text-align: center;

    transition: background 300ms;
}

.theme_day .themeSwitch {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.theme_night .themeSwitch {
    background: linear-gradient(to bottom, rgba(36, 47, 62, 0), rgba(36, 47, 62, 1));
}

.themeSwitch-link {
    text-decoration: none;
}

.theme_day .themeSwitch-link {
    color: #108be3;
}

.theme_night .themeSwitch-link {
    color: #36a8f1;
}

.app {
}

.chart {
    width: 390px;
    margin: 0 auto 50px;
}

.chart-heading {
    margin-bottom: 25px;

    font-size: 17px;
    font-weight: bold;
}

.chartView {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    height: 340px;
}

.chartNavigator {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    touch-action: none;

    height: 45px;
    margin-top: 20px;
}

.chartSwitch {
    margin-top: 20px;
}

.chartSwitch-button {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    display: inline-block;

    height: 38px;
    padding: 0 8px;
    margin-right: 17px;

    line-height: 37px;

    border: 1px solid;
    border-radius: 999px;
    cursor: pointer;

    transition: border-color 300ms;
}

.theme_day .chartSwitch-button {
    border-color: #e6ecf0;
}

.theme_night .chartSwitch-button {
    border-color: #344658;
}

.chartSwitch-button:hover {
    transform: scale(1.05);
}

.chartSwitch-indicator {
    position: relative;
    top: -1px;

    display: inline-block;

    width: 23px;
    height: 23px;
    margin-right: 8px;

    vertical-align: middle;

    border: 1px solid #5e9ac2;
    border-radius: 50%;
}

.chartSwitch-button_isEnabled .chartSwitch-indicator {
    background-color: #5e9ac2;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="31" height="24"><path d="M9.462 16.009c.576.627 1.245.853 2.26-.36C13.345 13.712 22.742 4.221 24.428 2.4c3.257-3.514 7.833-.079 4.5 4.019C26.984 8.8 14.257 21.827 13.587 22.454c-2.114 1.979-4.414 1.962-6.466-.268C4.711 19.565 2.9 17.434.906 15.08c-2.751-3.249 1.6-7.041 4.56-3.625 1.649 1.903 1.964 2.345 3.996 4.554z" fill="%23fff" /></svg>');
    background-size: 12px 9px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.chartSwitch-checkbox {
    position: absolute;
    opacity: 0;
}

@media (min-width: 320px) and (max-width: 480px) {

    .app {
        max-width: none;
        margin: 0;
    }

    .chart {
        display: block;
        width: auto;
        margin: 0 0 50px;
    }

}
